version: '2'

services:
    client:
        build: .
        ports:
            - "4200:4200"
        volumes:
            - "~/.ssh:/root/.ssh"
            - "./client:/usr/src/app"
        links:
            - "db"
        depends_on:
            - "db"
        tty: true
        links:
            - "server"
        # command: ["nodemon", "-exec 'npm start'"]
    server:
        build: .
        ports:
            - "3000:3000"
        volumes:
            - "~/.ssh:/root/.ssh"
            - "./server:/usr/src/app"
        environment:
            NODE_ENV: development
        links:
            - "db"
        depends_on:
            - "db"
        tty: true
        command: ["nodemon", "-exec 'npm start'"]
    db:
      image: mongo
