<form class="my-form" >
    <div class="form-line">
        <label class="form-label" for="name">Nome</label>
        <input type="text" id="name" name="name"  [(ngModel)]="newItem.name" />
    </div>
    <div class="form-line">
        <label class="form-label" for="price">Preço</label>
        <input type="text" id="price" name="price"  [(ngModel)]="newItem.price" />
    </div>
    <div class="form-line">
        <label class="form-label" for="category">Categoria</label>
        <input type="text" id="category" name="category" [(ngModel)]="newItem.category" />
    </div>
    <button (click)="createItem()">Criar</button>
</form>
